{
  "env": {
    "development": {
      "presets": [
        [
          "latest",
          {
            "es2015": false,
            "es2016": false,
          }
        ]
      ],
      "plugins": ["external-helpers"]
    },
    "test": {
      "presets": [
        ["env", {
          "targets": {"node": "current"}
        }]
      ]
    }
  }
}